* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Lexend Deca", sans-serif;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.presentation {
  display: flex;
  width: 85%;
  flex-direction: row;
  margin: 50px auto 50px auto;
  align-items: center;
  justify-content: space-around;
}

.pres-img img {
  display: block;
  width: 100%;
  max-width: 200px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
  justify-content: right;
}
.pres-img {
  flex: 1;
  width: 50%; /*or whatever you choose*/
}
.pres-text p {
  text-align: justify;
  margin: 0px 50px 0px 0px;
}
.pres-text h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.pres-text {
  flex: 2;
}
.skillsSection {
  background-color: black;
}
.skills {
  width: 85%;
  margin: 50px auto 0px auto;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.skills h4 {
  font-size: 20px;
  font-weight: 100;
}
.habTitle {
  flex: 1;
}
.skillList {
  flex: 1;
  margin-top: 50px;
  margin-bottom: 30px;
}

li.listTitle {
  list-style-type: none;
  list-style-position: outside;
}

ul.listado {
  list-style-position: inside;
  margin-top: 10px;
}

.projects {
  width: 85%;
  margin: auto;
}

.proyectIMG {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.arbilityIMG {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.proyect {
  margin-bottom: 200px;
  background-color: rgb(0, 0, 0);
  padding: 30px;
  color: white;
}
.ProyectDescription {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.descText {
  flex: 2;
}
.descName {
  flex: 1;
}

.descName h4 {
  margin-bottom: 10px;
  font-weight: 400;
}

h4.proyectTitle {
  font-weight: 400;
}
.descText p {
  text-align: justify;
  margin-bottom: 10px;
  padding-left: 50px;
}

.proyectTitle {
  margin-bottom: 15px;
}

ul.parkList {
  list-style-position: inside;
  padding-left: 50px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  margin: 0px auto 0px auto;
  justify-content: center;
  width: 85%;
  padding: 30px 0px 30px 0px;
}
.leftFooter {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  width: auto;
}
.rightFooter {
  flex: 1;
  text-align: right;
  justify-content: center;
}

footer {
  background-color: black;
  width: 100%;
}
.projectsSection {
  padding-bottom: 100px;
  padding-top: 70px;
}
.firstProyect {
  background-color: aqua;
  margin-bottom: 200px;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.lastProyect {
  background-color: aqua;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.leftFooter a {
  color: aqua;
}

.proyect a,
.lastProyect a,
.firstProyect a,
.rightFooter a {
  color: rgb(195, 131, 255);
}

@media screen and (max-width: 650px) {
  .presentation {
    flex-direction: column-reverse;
  }
  .pres-text h1 {
    text-align: center;
  }
  .pres-text p {
    margin: auto;
  }
  .skills {
    flex-direction: column;
  }
  .skillList {
    margin-left: auto;
    margin-right: auto;
  }
  .ProyectDescription {
    flex-direction: column;
  }
  .pLink {
    word-wrap: break-word;
  }
  .descName {
    margin-bottom: 50px;
  }
  ul.parklist {
    padding-left: 0px;
  }
  .descText p {
    padding-left: 0px;
  }
}
